@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Hind&family=Prosto+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #000;
    color: #fff;
    font-family: Hind, Arial, sans-serif;
}

footer {
    background: rgb(63, 63, 63);
}

footer p {
    font-size: 1.5rem;
}

footer li {
    display: inline-block;
    font-size: 3rem;
    margin: 20px 10%;
}

footer a {
    color: inherit;
}

footer a:hover {
    color:#40ff00
}

#logo {
    color: #40ff00;
    font-family: 'Prosto One', sans-serif;
    letter-spacing: 4px;
    float: left;
    margin-left: 20px;
}

h2 {
    margin: 20px;
    font-size: 2rem;
    color: #40ff00;
}

#logo, #menu {
    line-height: 75px;
}
/* Navigation Bar styling */

#menu li {
    float: right;
    display: inline;
}

#menu a {
    margin: 0 20px;
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #269700;
}

#home-hero-img {
    background: url('/assets/images/home-hero-img.jpg') no-repeat center center;
    width: 100%;
    height: 500px;
}

#home-hero-img div {
    width: 48%;
    background: rgba(59, 59, 59, 0.6);
    color: #40ff00;
    font-family: 'Contrail One', sans-serif;
    font-size: 3rem;
    position: relative;
    left: 25%;
    top: 15%;
    padding: 0 5px;
}

#facilities li {
    list-style: none;
    font-size: 1.5rem;
}

.active {
    border-bottom: 1px solid #269700;
}

.two-column {
    width: 50%;
    float: left;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
}

.three-column {
    width: 33%;
    text-align: center;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.list {
    list-style: none;
    font-size: 1.5rem;
}

.center {
    text-align: center;
    width: 100%;
}

.clear {
    clear: both;
}
/* Table styling */

table {
    width: 33%;
    margin: auto;
    padding: 3px;
    border: 1px solid #269700;
    font-size: 1.5rem;
}

tr:nth-child(even) {
    background-color: #269700
}

/* Membership page css */

#mem-hero-img {
    background: url('/assets/images/mem-hero-img.jpg') no-repeat center;
    width: 100%;
    height: 500px;
}

#mem-hero-img div {
    background: rgba(59, 59, 59, 0.7);
    height: 500px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;

    font-size: 1.5em;
}

#mem-hero-img div h2 {
    margin-bottom: 50px;
}

#mem-hero-img div ul {
    list-style: none;
}

#mem-hero-img div ul li {
    margin: 15px 0;
}

.price {
    display: inline;
    background: #000;
    border: #40ff00 1px solid;
    padding: 5px 5px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

/* Classes css */

form {
    width: 80%;
    font-size: 1.5rem;
    border: #40ff00 1px solid;
    margin: 20px auto;
}

input, select {
    width: 80%;
    margin: 10px;
    font-size: 1.5rem;
}

input[type=submit] {
    width: 25%;
    background: #40ff00;
    border: 2px solid;
}

input[type=submit]:hover {
    background: #000;
    color: #40ff00;
    border: 2px solid #40ff00;
}


.classes-box {
    height: 500px;
}

.classes-box > div {
    background: rgba(59, 59, 59, 0.6);
}

.classes-box h2 {
    font-size: 1.5rem;
}

#classes-hero-container {
    width: 100%;
    height: 500px;
}

#boxfit {
    background: url('/assets/images/boxfit-img.jpg') no-repeat center center;
    background-size: cover;
}

#strength {
    background: url('/assets/images/strength-img.jpg') no-repeat center center;
    background-size: cover;
}

#kettlebell {
    background: url('/assets/images/kettlebell-img.jpg') no-repeat center center;
    background-size: cover;
}

#confirmation-text {
    width: 100%;
    font-size: 1.5rem;
    padding: 5px;
}
@media screen and (max-width: 1200px) {

    table {
        width: 80%;
    }

    /* Memberships page */

    .three-column {
        width: 50%;
        position: static;
        margin-top: 5px;
    }

    #mem-hero-img {
        background: url('/assets/images/mem-hero-img-max-1200.jpg') no-repeat center center;
        height: 1600px;
    }

    /* Classes */

    #classes-hero-container {
        height: 1600px;
    }
}  

@media screen and (max-width: 1000px){

    /* Memeberships page */
    
    .three-column {
        width: 70%;
    }

    #mem-hero-img {
        height: 1550px;
    }

    /* Classes */

    #classes-hero-container {
        height: 1550px;
    }
}

@media screen and (max-width: 800px) {

    /* Memberships page */

    .three-column {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    #logo, #menu li {
        float: none;
        text-align: center;
    }

    #menu ul {
        text-align: center;
    }

    table {
        width: 100%;
    }

    /* Memberships page */

    #mem-hero-img {
        height: 1850px;
    }

    #mem-hero-img div {
        height: 600px;
    } 

    /* classes page */

    form {
        font-size: 1rem;
        width: 100%;
        box-sizing: border-box;
    }

    input, select {
        font-size: 1rem;
    }
}